body, p, h1, h2, h3, h5, h6 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

span, h4 {
  font-family: "Inter", sans-serif;
  color: black
}

.about-title {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 40px;
  color: #03346E;
}

.projets {
  font-family: "Inter", sans-serif;
  font-size: 35px;
  line-height: 1;
  text-align: center;
  margin-top: 80px;
  color: #03346E;
}
