.softskills-title{
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  margin-top: 40px;
  color: #03346E;
}

.skills-container{
  justify-content: center;
}

.skills-box{
  padding: 1em;
  border: 1px solid #2b69fb1f;
  width: 380px;
  height: 350px;
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  border-radius: 20px;
  margin:auto;
  margin-top:30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 7px 0px rgba(43, 105, 251, 0.15);
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.skills-title {
  font-family: "Inter", sans-serif;
  color: #03346E;
  padding-top:5px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.skills-level {
  font-family: "Inter", sans-serif;
  font-weight:lighter;
  font-size:small;
  margin-top: 0;
}

.skill-item {
  font-family: "Inter", sans-serif;
  color: #03346E;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
  gap: 5px;
}

.skills-logo{
  font-size: 24px;
  margin-bottom: 0;
}
